<div class="fixed-top" *ngIf="usuario.rol == 'NON'">
  <p></p>
</div>
<div class="fixed-top" *ngIf="usuario.rol !== 'NON'">
  <nav class="navbar fixed-top navbar-light" style="background-color: lightsteelblue;">
    <form class="form-inline">
      <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-user"></i>Tu Menú:</a>
      <button routerLink="/usuarios" class="btn btn-sm btn-outline-primary" type="button">Administrar Usuarios</button> &nbsp;
      <button routerLink="/registerMozo" class="btn btn-sm btn-outline-primary" type="button">Administrar Mozos</button> &nbsp; 
      <button routerLink="/platos" class="btn btn-sm btn-outline-primary" type="button">Administrar Platos</button> &nbsp;
      <button routerLink="/adiciones" class="btn btn-sm btn-outline-primary" type="button">Administrar Adiciones</button> &nbsp;
      <button (click)="salir()" class="btn btn-sm btn-outline-primary float-right" type="button">Salir</button>
    </form>
  </nav>
</div>